header {
	background-color: #ffff80;
	text-align: center;
	padding:20px;
}
nav {
	background-color: #ff80ff;
	padding: 10px;
}
nav ul {
	list-style-type: none;
	display: inline-block;
	margin : 0px;
}
nav li {
	float:left;
	padding: 0px 40px;
}
nav a {
	text-decoration: none;
}
section {
	padding:30px;
}
section p {
	text-align: center;
}
section table {
	margin:auto;
	text-align: center;
}

footer {
	background-color: #ffff80;
	text-align: center;
	padding:10px;
}











